@import 'scss/helpers/variables';
.contentInner {
    section {
        margin: 0 0 20px;
        padding: 20px;
        border-radius: 4px;
        border: solid 1px #d9d9d9;
        font-size: 13px;
    }
    .stTitle {
        padding: 0 0 20px;
        margin: 0 0 20px;
        border-bottom: 1px solid #d8d8d8;
        @extend .clearfix;
        h3 {
            line-height: 26px;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            float: left;
            padding-top: 5px;
        }
        span {
            float: right;
            border-radius: 5px;
            margin-left: 10px;
            background-color: $color-primary;
            border-color: $color-primary;
            padding: 0 20px;
            font-size: 13px;
            line-height: 34px;
            font-weight: bold;
            text-transform: uppercase;
            &:hover {
                background-color: darken($color-primary, 15%);
                border-color: darken($color-primary, 15%);
            }
        }
    }
    table {
        th,
        td {
            border: 0;
            font-size: 13px;
            line-height: 18px;
            vertical-align: middle;
        }
        th {
            font-size: 12px;
            font-weight: bold;
            color: #9b9b9b;
        }
        b {
            text-transform: uppercase;
            font-size: 14px;
            word-break: break-word;
            max-width: 200px;
        }
        .courseAvatar {
            width: 60px;
        }
        .courseName {
            width: 200px;
        }
        .catName {
            max-width: 120px;
        }
        span {
            color: $color-four;
            &.label2 {
                color: #7ed321;
            }
            &.label3 {
                color: $color-text;
            }
        }
        .actions {
            color: $color-text;
            i {
                margin-left: 15px;
                font-size: 16px;
                &:hover {
                    color: $color-default;
                }
            }
        }
    }
    .theAvt {
        display: block;
        width: 55px;
        height: 55px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .btnEdit {
        color: #8191a0;
        font-size: 17px;
        cursor: pointer;
        &:hover {
            color: #000;
        }
    }
}
