@import 'scss/helpers/variables';
.cartNotice {
    margin: 0;
    padding: 15px 20px;
    border-bottom: 1px solid $border-color;
    font-size: 14px;
    line-height: 1.79;
    color: $color-text;
}

.cartItems {
    padding: 15px 0;
    ul {
        margin: 0;
        padding: 0 20px;
        max-height: 300px;
        overflow: hidden;
        overflow-y: auto;
        li {
            list-style: none;
            position: relative;
            padding: 10px 0;
            padding-left: 90px;
            @extend .clearfix;
            &::before {
                content: '';
                display: block;
                width: calc(100% - 90px);
                height: 1px;
                background-color: $border-color;
                position: absolute;
                bottom: 0;
                right: 0;
            }
            .thumbnail {
                position: absolute;
                top: 12px;
                left: 0;
                width: 80px;
                overflow: hidden;
                max-height: 80px;
                img {
                    width: 100%;
                }
                span {
                    display: block;
                    width: 100%;
                    width: 60px;
                    height: 60px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            .content {
                min-height: 60px;
                position: relative;
            }
            h5 {
                font-size: 14px;
                font-weight: bold;
                color: $color-default;
                &:hover {
                    color: $color-primary;
                }
            }
            span {
                color: $color-four;
                font-weight: bold;
                font-size: 13px;
            }
            :global{
                .price{
                    position: relative;
                }
                .regularPrice {
                    font-size: 12px;
                    color: #9b9b9b;
                    text-decoration: line-through;
                    margin-left: 5px;
                }
            }
            p {
                margin: 0;
                font-size: 12px;
                font-weight: bold;
                color: #8191a0;
                b {
                    font-weight: normal;
                    color: #0071bb;
                }
            }
            &:last-child {
                &::before {
                    display: none;
                }
            }
            .labelSale {
                position: absolute;
                bottom: 0;
                right: 0;
                display: inline-block;
                background-color: $color-four;
                color: $white;
                font-size: 13px;
                line-height: 25px;
                font-weight: bold;
                min-width: 50px;
                padding: 0 5px;
                text-align: center;
                &:after {
                    position: absolute;
                    right: 100%;
                    top: 0;
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 13px solid transparent;
                    border-bottom: 12px solid transparent;
                    border-right: 15px solid $color-four;
                }
            }
        }
    }
}

.cartTotal {
    padding: 15px 20px;
    background-color: #e7f2f9;
    p {
        font-size: 13px;
        font-weight: 700;
        color: $color-text;
        margin: 0 0 5px;
        text-transform: uppercase;
    }
    strong {
        font-size: 18px;
        font-weight: 700;
        color: $color-primary;
    }
}

.cartButons {
    padding: 20px;
    @extend .clearfix;
    :global {
        .btn {
            width: 49%;
            float: right;
            text-transform: uppercase;
            font-weight: bold;
            background-color: $color-primary;
            border-color: $color-primary;
            &:hover {
                background-color: darken($color-primary, 5%);
                border-color: darken($color-primary, 5%);
            }
        }
    }
    .btnViewCart {
        background-color: $color-four;
        border-color: $color-four;
        float: left;
        &:hover {
            background-color: darken($color-four, 5%);
            border-color: darken($color-four, 5%);
        }
       
    }
    :global {
        .btn{ 
            &.disabled, &.disabled:hover {
                background-color: $gray;
                border-color: $gray;
            }
        }
    }
  
}
