@import 'scss/helpers/variables';
.contentInner {
    section {
        margin: 0 0 20px;
        padding: 20px;
        border-radius: 4px;
        border: solid 1px #d9d9d9;
        font-size: 13px;
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 0 20px;
        margin: 0 0 20px;
        border-bottom: 1px solid #d8d8d8;
    }
    h5 {
        font-size: 14px;
        font-weight: 700;
        margin: 0 0 20px;
        color: $color-primary;
        b {
            font-weight: 400;
            color: $color-default;
        }
    }
    .stTitle {
        padding: 0 0 20px;
        margin: 0 0 20px;
        border-bottom: 1px solid #d8d8d8;
        @extend .clearfix;
        h3 {
            padding: 0;
            margin: 0;
            border-bottom: 0;
            float: left;
            line-height: 26px;
        }
        span {
            font-size: 12px;
            line-height: 26px;
            font-weight: bold;
            float: right;
            text-transform: uppercase;
            color: $color-text;
            b {
                font-size: 18px;
                color: $color-primary;
                text-transform: none;
                margin-left: 10px;
            }
        }
    }
    table {
        th,
        td {
            border: 0;
            font-size: 13px;
            vertical-align: middle;
            max-width: 300px;
        }
        th {
            font-size: 12px;
            font-weight: bold;
            color: #9b9b9b;
        }
        b {
            text-transform: uppercase;
            font-size: 14px;
            line-height: 20px;
            display: block;
            overflow: hidden;
            max-width: 300px;
            word-break: break-word;
        }
    }
    form {
        @extend .clearfix;
        :global {
            .form-group {
                width: 50%;
                float: left;
                padding-right: 15px;
            }
            .ant-calendar-picker {
                font-family: inherit;
                font-size: 1rem;
                color: #616161;
                width: 100%;
                &:before,
                &:after {
                    display: none;
                }

                svg{
                    display: inline-block !important;
                }
            }
            .ant-input {
                height: 38px;
            }
            .ant-select-selection__rendered {
                line-height: 38px;
            }
        }
        label {
            display: block;
            height: 26px;
            font-weight: bold;
            color: $color-text;
        }
        button {
            border-radius: 5px;
            margin-left: 10px;
            background-color: $color-primary;
            border-color: $color-primary;
            padding: 0 20px;
            font-size: 13px;
            line-height: 34px;
            font-weight: bold;
            text-transform: uppercase;
            &:hover {
                background-color: darken($color-primary, 15%);
                border-color: darken($color-primary, 15%);
            }
            &.cancel {
                background-color: #d9d9dd;
                border-color: #d9d9dd;
                &:hover {
                    background-color: #000;
                    border-color: #000;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .contentInner {
        margin-bottom: 20px;
        table {
            thead {
                display: none;
            }
            tr:nth-child(2n + 2) {
                background-color: #e5e5e5;
                td {
                    padding: 10px 15px;
                }
            }
            td {
                width: 100% !important;
                display: block !important;
                text-align: right !important;
                padding: 10px 0;
                border-bottom: 1px solid #d9d9d9;
                float: left;
                max-width: 100%;
                b{
                    max-width: 100%;
                }
                &:last-child {
                    border-bottom: 0;
                }
                &::before {
                    content: attr(data-title) ': ';
                    font-weight: 700;
                    float: left;
                }
            }
        }
        form {
            :global {
                .form-group {
                    width: 100%;
                    float: left;
                    padding-right: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
