@import 'styles/colors';

.root {
    display: inline-block;
    vertical-align: top;
    flex: 1;
    color: $chromeTextColor;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid $chromeBordersColor;

    transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    &:last-child {
        border-right: 0;
    }

    :global i {
        display: inline-block;
        vertical-align: top;
        line-height: 49px;
        width: 100%;
        text-align: center;
        font-size: 22px;
    }

    &.link {
        width: 0%;
        opacity: 0;
    }

    &.dataLinkable {
        width: 25%;
        opacity: 1;
    }
}

.button {
    display: block;
    width: 100%;
}

.selected {
    background-color: $chromeBackgroundActive;
    color: $chromeColorActive;
}
