@import 'scss/helpers/variables';
.headerTitlePage {
    padding: 30px 0;
    background-color: $color-primary;
    color: $white;
    h2 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        color: inherit;
    }
    p {
        opacity: 0.6;
        margin: 0;
    }
    ul {
        display: block;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            margin-right: 40px;
            border: 0 !important;
            padding: 0 0 15px;
            position: relative;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: transparent;
            }

            &:hover {
                color: $color-secondary;
            }
        }
        :global {
            li {
                &.active {
                    color: $color-secondary;
                    &:after {
                        background-color: $color-secondary;
                    }
                }
            }
        }
    }
}
.category {
    :global {
        .row {
            flex-direction: row-reverse;
        }
    }
}

@media screen and (max-width: 992px) {
    .headerTitlePage {
        :global {
            .ant-select {
                width: 100%;
                max-width: 250px;
            }
            .ant-select-selection {
                margin-bottom: 10px;
                height: auto;
                border: 1px solid $white;
                background-color: transparent;
                color: $white;
                padding: 7px 60px 7px 0;
                font-size: 14px;
                font-weight: bold;
            }
            .ant-select-arrow {
                color: inherit;
                font-weight: normal;
            }
        }
    }
    .category {
        :global {
            .closeModal {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba($black, 0.4);
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s ease-in-out 0s;
                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .filterActive {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 20px;
                width: 260px;
                z-index: 1000;
                background-color: $white;
                font-size: 13px;
                overflow: auto;
                transition: all 0.35s linear;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
