.App-body {
    position: relative;
    overflow: hidden;
}
.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.4);
    .inner {
        border-left: solid 1px #333333;
        border-right: solid 1px #333333;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        width: 100%;
        max-width: 790px;
        height: 100%;
        padding: 15px;
    }
    .Viewer {
        max-height: calc(100% - 70px);
    }
    .Toolbar {
        position: static;
        margin: 15px auto 0;
        transform: none;
    }
}
.textLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1;
}

.textLayer > div {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

.textLayer .highlight {
    margin: -1px;
    padding: 1px;
    background-color: rgb(180, 0, 170);
    border-radius: 4px;
}

.textLayer .highlight.begin {
    border-radius: 4px 0px 0px 4px;
}

.textLayer .highlight.end {
    border-radius: 0px 4px 4px 0px;
}

.textLayer .highlight.middle {
    border-radius: 0px;
}

.textLayer .highlight.selected {
    background-color: rgb(0, 100, 0);
}

.textLayer ::selection {
    background: rgb(0, 0, 255);
}

.textLayer ::-moz-selection {
    background: rgb(0, 0, 255);
}

.textLayer .endOfContent {
    display: block;
    position: absolute;
    left: 0px;
    top: 100%;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.textLayer .endOfContent.active {
    top: 0px;
}

.annotationLayer section {
    position: absolute;
}

.annotationLayer .linkAnnotation > a {
    position: absolute;
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.annotationLayer .linkAnnotation>a
/* -ms-a */

 {
    background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') 0 0 repeat;
}

.annotationLayer .linkAnnotation > a:hover {
    opacity: 0.2;
    background: #ff0;
    box-shadow: 0px 2px 10px #ff0;
}

.annotationLayer .textAnnotation img {
    position: absolute;
    cursor: pointer;
}

.annotationLayer .textWidgetAnnotation input,
.annotationLayer .textWidgetAnnotation textarea,
.annotationLayer .choiceWidgetAnnotation select,
.annotationLayer .buttonWidgetAnnotation.checkBox input,
.annotationLayer .buttonWidgetAnnotation.radioButton input {
    background-color: rgba(0, 54, 255, 0.13);
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: 9px;
    height: 100%;
    padding: 0 3px;
    vertical-align: top;
    width: 100%;
}

.annotationLayer .textWidgetAnnotation textarea {
    font: message-box;
    font-size: 9px;
    resize: none;
}

.annotationLayer .textWidgetAnnotation input[disabled],
.annotationLayer .textWidgetAnnotation textarea[disabled],
.annotationLayer .choiceWidgetAnnotation select[disabled],
.annotationLayer .buttonWidgetAnnotation.checkBox input[disabled],
.annotationLayer .buttonWidgetAnnotation.radioButton input[disabled] {
    background: none;
    border: 1px solid transparent;
    cursor: not-allowed;
}

.annotationLayer .textWidgetAnnotation input:hover,
.annotationLayer .textWidgetAnnotation textarea:hover,
.annotationLayer .choiceWidgetAnnotation select:hover,
.annotationLayer .buttonWidgetAnnotation.checkBox input:hover,
.annotationLayer .buttonWidgetAnnotation.radioButton input:hover {
    border: 1px solid #000;
}

.annotationLayer .textWidgetAnnotation input:focus,
.annotationLayer .textWidgetAnnotation textarea:focus,
.annotationLayer .choiceWidgetAnnotation select:focus {
    background: none;
    border: 1px solid transparent;
}

.annotationLayer .textWidgetAnnotation input.comb {
    font-family: monospace;
    padding-left: 2px;
    padding-right: 0;
}

.annotationLayer .textWidgetAnnotation input.comb:focus {
    width: 115%;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input,
.annotationLayer .buttonWidgetAnnotation.radioButton input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.annotationLayer .popupWrapper {
    position: absolute;
    width: 20em;
}

.annotationLayer .popup {
    position: absolute;
    z-index: 200;
    max-width: 20em;
    background-color: #ffff99;
    box-shadow: 0px 2px 5px #333;
    border-radius: 2px;
    padding: 0.6em;
    margin-left: 5px;
    cursor: pointer;
    word-wrap: break-word;
}

.annotationLayer .popup h1 {
    font-size: 1em;
    border-bottom: 1px solid #000000;
    padding-bottom: 0.2em;
}

.annotationLayer .popup p {
    padding-top: 0.2em;
}

.annotationLayer .highlightAnnotation,
.annotationLayer .underlineAnnotation,
.annotationLayer .squigglyAnnotation,
.annotationLayer .strikeoutAnnotation,
.annotationLayer .lineAnnotation svg line,
.annotationLayer .fileAttachmentAnnotation {
    cursor: pointer;
}

.pdfViewer .canvasWrapper {
    overflow: hidden;
    width: 100% !important;
}

.pdfViewer .page {
    direction: ltr;
    width: 816px;
    height: 1056px;
    margin: 1px auto -8px auto;
    position: relative;
    overflow: visible;
    border: 9px solid transparent;
    background-clip: content-box;
    border-image: url('/static/assets/images/pdf/shadow.png') 9 9 repeat;
    background-color: white;
}

.pdfViewer.removePageBorders .page {
    margin: 0px auto 10px auto;
    border: none;
}

.pdfViewer.singlePageView {
    display: inline-block;
}

.pdfViewer.singlePageView .page {
    margin: 0;
    border: none;
}

.pdfViewer .page canvas {
    margin: 0;
    display: block;
}

.pdfViewer .page canvas[hidden] {
    display: none;
}

.pdfViewer .page .loadingIcon {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('/static/assets/images/pdf/loading-icon.gif') center no-repeat;
}

.pdfPresentationMode:-webkit-full-screen .pdfViewer .page {
    margin-bottom: 100%;
    border: 0;
}

.pdfPresentationMode:-moz-full-screen .pdfViewer .page {
    margin-bottom: 100%;
    border: 0;
}

.pdfPresentationMode:-ms-fullscreen .pdfViewer .page {
    margin-bottom: 100% !important;
    border: 0;
}

.pdfPresentationMode:fullscreen .pdfViewer .page {
    margin-bottom: 100%;
    border: 0;
}

.Viewer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;
    max-height: 770px;
}
.Toolbar {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    background-color: #fff;
    padding: 5px 10px;
    z-index: 10;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 113, 187, 0.3);
    width: 100%;
    max-width: 350px;
}

.Toolbar > .btnIcon {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    font-size: 26px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 8px;
    cursor: pointer;
    i {
        line-height: inherit;
    }
    &:hover,
    &:focus {
        color: #0071bb;
    }
}
.Toolbar > .btnIcon.findPrevious,
.Toolbar > .btnIcon.findNext,
.Toolbar > .btnIcon.fullScreen {
    font-size: 30px;
}
.inputPage {
    display: inline-block;
    vertical-align: middle;
    border: 0;
    border-radius: 4px;
    text-align: center;
    background-color: #aab0b8;
    margin: 0 12px;
    height: 24px;
    padding: 0 8px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    max-width: 50px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.Box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
@keyframes bounce1234 {
    5% {
        top: -40px;
    }
    20% {
        top: -30px;
    }
    40% {
        top: -10px;
        border-radius: 50%;
    }
    45% {
        border-radius: 60% 40% 60% 40%;
    }
    50% {
        top: 0px;
        border-radius: 70% 40% 80% 40%;
    }
    60% {
        top: -10px;
        border-radius: 90% 40% 90% 40%;
    }
    80% {
        top: -30px;
        border-radius: 40% 80% 40% 70%;
    }
    90% {
        border-radius: 60% 40% 60% 40%;
    }
    95% {
        top: -40px;
        border-radius: 50%;
    }
}

@keyframes shadow1234 {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}

@mixin ball($radius, $delay) {
    $radius: 50px !default;
    display: inline-block;
    position: relative;
    height: $radius;

    &:after {
        content: '';
        display: block;
        width: $radius;
        height: $radius;
        background-color: #007bff;
        border-radius: 50%;
        position: relative;
        transform: rotate(45deg);
        top: -40px;
        margin: 0 $radius/7;
        animation: bounce1234 1s linear infinite $delay;
    }

    &:before {
        content: '';
        display: block;
        width: 100%;
        border-radius: 50%;
        height: $radius/2;
        background-color: rgba(0, 0, 0, 0.1);
        display: block;
        position: absolute;
        bottom: -10%;
        transform: scale(0.5);
        animation: shadow1234 1s linear infinite $delay;
    }
}

.ball1 {
    @include ball(50px, 0s);
}

.ball2 {
    @include ball(40px, 0.2s);
}

.ball3 {
    @include ball(30px, 0.4s);
}

.ball4 {
    @include ball(20px, 0.6s);
}

.loader {
    display: block;
    margin-top: 10%;
    text-align: center;
    direction: rtl;
}
